<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Image</title>
    <script type="text/javascript" src="app/public/js/js_page/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="app/public/js/js_page/jquery-1.12.4.js"></script>
    <script src="app/public/js/js_page/jquery-ui.js"></script>
    <script src="app/public/js/js_page/jquery.min.js"></script>
    <script src="app/public/js/js_page/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="js/views/canvasjs.min.js"></script>
    <script type="text/javascript">
      var socket;
      $(document).ready(function()
        {
          socket = io.connect('http://localhost:5000',{
            reconnection: true,
            reconnectionDelay: 1000,
            reconnectionDelayMax : 5000,
            reconnectionAttempts: 99999
          });
          socket.emit('reciver_data_rssi', " ");
          socket.on('sending_data_rssi_Node_1', function (data) {
            console.log(data);
            
          });
        })
    </script>
  </head>
  <body>
    <div class="">
      <p>Image 1</p>
      <img src="img/lora.png" alt=""  width="100px" height="100px">
    </div>
    <div class="">
      <p>Image 2</p>
      <img src="img/server.jpg" alt="" width="100px" height="100px">
    </div>
    <div class="">
      <p>Data</p>
      <label for=""><span id="temp1"> </span></label>
    </div>
    <div class="">
      <div id="chartContainer" style="height: 300px; width: 100%; border-style: groove;"></div>
    </div>
    <script type="text/javascript">
    window.onload = function () {

    var chart1 = new CanvasJS.Chart("chartContainer", {
      theme:"light2",
      animationEnabled: true,
      title:{
        text: "Temperature"
      },
      axisY :{
        includeZero: false,
        title: "Temperature",
        suffix: "oC"
      },
      toolTip: {
        shared: "true"
      },
      legend:{
        cursor:"pointer",
        itemclick : toggleDataSeries
      },
      data: [{
        type: "spline",
        visible: true,
        showInLegend: true,
        yValueFormatString: "##.00 oC",
        name: "Node 1",
        dataPoints: [

        ]
      }]
    });
  chart1.render();
  function toggleDataSeries(e) {
  	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible ){
  		e.dataSeries.visible = false;
  	} else {
  		e.dataSeries.visible = true;
  	}
    chart1.render();
  }
}
    </script>
  </body>
</html>
