<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" http-equiv="refresh" content="900">
    	<title>Show Data Realtime</title>
    	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	    <link href="css/animate.css" rel="stylesheet" />
    	<link href="css/style_home.css" rel="stylesheet">
	    <link href="color/default.css" rel="stylesheet">
      <script type="text/javascript" src="js/js_page/jquery-1.10.2.min.js"></script>
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <script src="js/js_page/jquery-1.12.4.js"></script>
      <script src="js/js_page/jquery-ui.js"></script>
      <script src="js/js_page/jquery.min.js"></script>
      <script src="js/js_page/bootstrap.min.js"></script>
      <script src="js/socket/show.js"></script>
      <style>
          ul.nav-pills {
         top: 50px;
         position: fixed;
         background-color: #f1f1f1;
       }
       </style>
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <div id="preloader">
  	  <div id="load"></div>
  	</div>
    <nav class="navbar navbar-custom navbar-fixed-bottom nav-pills" role="navigation" style="background:#23434">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
	           <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
	              <ul class="nav nav-pills nav-stacked">
       		         <li><a href="/homedata">Back Dashboard</a></li>
		            </u>
	             </div>
             </div>
           </nav>
    <section id="intro" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow bounceInUp" data-wow-delay="0.2s">
            <div class="team boxed-grey">
                <div class="inner">
                  <h3>Floor 1</h3>
                  <div class="row">
                      <div class="col-xs-4 col-sm-4 col-md-6">
                        <p  class="subtitle">Temper</p>
                        <h3> <span id="n1Temper"></span></h3>
                      </div>
                      <div class="col-xs-5 col-sm-5 col-md-6">
                        <p class="subtitle">Humid</p>
                        <h3><span id="n1Humid"></span></h3>
                      </div>
                  </div>
                  <p class="subtitle">Time</p>
                  <h5><span id="n1Time"></span></h5>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6" center>
          <div class="wow bounceInDown" data-wow-delay="0.4s">
          <div class="section-heading">
          <h2>Block 1</h2>
          <i class="fa fa-2x fa-angle-down"></i>
          </div>
          </div>
        </div>

      </div>
      </div>
    </div>
    <div class="container">

    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow bounceInUp" data-wow-delay="0.2s">
            <div class="team boxed-grey">
                <div class="inner">
                  <h3>Floor 2</h3>
                  <div class="row">
                      <div class="col-xs-4 col-sm-4 col-md-6">
                        <p  class="subtitle">Temper(&deg;C)</p>
                        <h3> <span id="n2Temper"></span></h3>
                      </div>
                      <div class="col-xs-5 col-sm-5 col-md-6">
                        <p class="subtitle">Humid(%)</p>
                        <h3><span id="n2Humid"></span></h3>
                      </div>
                  </div>
                  <p class="subtitle">Time</p>
                  <h5><span id="n2Time"></span></h5>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow bounceInUp" data-wow-delay="0.2s">
            <div class="team boxed-grey">
                <div class="inner">
                  <h3>Floor 3</h3>
                  <div class="row">
                      <div class="col-xs-4 col-sm-4 col-md-6">
                        <p  class="subtitle">Temper(&deg;C)</p>
                        <h3> <span id="n3Temper"></span></h3>
                      </div>
                      <div class="col-xs-5 col-sm-5 col-md-6">
                        <p class="subtitle">Humid(%)</p>
                        <h3><span id="n3Humid"></span></h3>
                      </div>
                  </div>
                  <p class="subtitle">Time</p>
                  <h5><span id="n3Time"></span></h5>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow bounceInUp" data-wow-delay="0.2s">
            <div class="team boxed-grey">
                <div class="inner">
                  <h3>Floor 4</h3>
                  <div class="row">
                      <div class="col-xs-4 col-sm-4 col-md-6">
                        <p  class="subtitle">Temper(&deg;C)</p>
                        <h3> <span id="n4Temper"></span></h3>
                      </div>
                      <div class="col-xs-5 col-sm-5 col-md-6">
                        <p class="subtitle">Humid(%)</p>
                        <h3><span id="n4Humid"></span></h3>
                      </div>
                  </div>
                  <p class="subtitle">Time</p>
                  <h5> <span id="n4Time"></span></h5>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="wow bounceInUp" data-wow-delay="0.8s">
            <div class="team boxed-grey">
                <div class="inner">
                  <h3>Floor 5</h3>
                  <div class="row">
                      <div class="col-xs-4 col-sm-4 col-md-6">
                        <p  class="subtitle">Temper(&deg;C)</p>
                        <h3><span id="n5Temper"></span></h3>
                      </div>
                      <div class="col-xs-5 col-sm-5 col-md-6">
                        <p class="subtitle">Humid(%)</p>
                        <h3><span id="n5Humid"></span></h3>
                      </div>
                  </div>
                  <p class="subtitle">Time</p>
                  <h5><span id="n5Time"></span></h5>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="wow bounceInUp" data-wow-delay="1.2s">
              <div class="team boxed-grey">
                  <div class="inner">
                    <h3>Floor 6</h3>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-6">
                          <p  class="subtitle">Temper(&deg;C)</p>
                          <h3><span id="n6Temper"></span></h3>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-6">
                          <p class="subtitle">Humid (%)</p>
                          <h3><span id="n6Humid"></span></h3>
                        </div>
                    </div>
                    <p class="subtitle">Time</p>
                    <h5><span id="n6Time"></span></h5>
                  </div>
              </div>
            </div>
          </div>
        </div>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>

    </div>

  </section>
  <script src="js/js_page/jquery.min.js"></script>
  <script src="js/js_page/bootstrap.min.js"></script>
  <script src="js/js_page/jquery.easing.min.js"></script>
  <script src="js/js_page/jquery.scrollTo.js"></script>
  <script src="js/js_page/wow.min.js"></script>
  <script src="js/js_page/custom.js"></script>
  </body>
  </html>
