<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    	<title>Show Data Realtime</title>
      <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <script src="js/views/canvasjs.min.js"></script>
	    <link href="css/animate.css" rel="stylesheet" />
      <link href="css/style_home.css" rel="stylesheet">
	    <link href="color/default.css" rel="stylesheet">
      <script type="text/javascript" src="js/js_page/jquery-1.10.2.min.js"></script>
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <script src="js/js_page/jquery-1.12.4.js"></script>
      <script src="js/js_page/jquery-ui.js"></script>
      <script src="js/js_page/jquery.min.js"></script>
      <script src="js/js_page/bootstrap.min.js"></script>
      <script src="js/socket/moritoring.js"></script>
  <style>
     ul.nav-pills {
         top: 50px;
         position: fixed;
         background-color: #f1f1f1;
     }
  </style>
 </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <nav class="navbar navbar-custom navbar-fixed-bottom nav-pills" role="navigation" style="background:#23434">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

                  <!--  <h1>LoRa Management Device</h1> -->
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
	      <ul class="nav nav-pills nav-stacked">
          <li><a href="/homedata">Back</a></li>
        	<li class= "active"> <a href="#synthetic"> Synthetic</a></li>
          <li><a href="#floor1">Floor 1</a></li>
        	<li><a href="#floor2">Floor 2</a></li>
        	<li><a href="#floor3">Floor 3</a></li>
        	<li><a href="#floor4">Floor 4</a></li>
          <li><a href="#floor5">Floor 5</a></li>
        	<li><a href="#floor6">Floor 6</a></li>
        	<li><a href="#floor7">Floor 7</a></li>
          <li><a href="#floor8">Floor 8</a></li>
          <li><a href="#floor9">Floor 9</a></li>
		    </u>
	    </div>
    </div>
  </nav>
  <section id = "synthetic" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h3> Synthetic Temperature</h3>
            <div id="chartContainer" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
            <h3> Synthetic Humidity</h3>
            <div id="chartContainer2" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor1"  class="home-section text-center " >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h3> Node 1</h3>
            <div id="chartContainer3" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
            <div id="chartContainer4" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor2"  class="home-section text-center" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h3> Node 2</h3>
            <div id="chartContainer5" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
            <div id="chartContainer6" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor3"  class="home-section text-center " >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h3> Node 3</h3>
            <div id="chartContainer7" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
            <div id="chartContainer8" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor4"  class="home-section text-center " >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h3> Node 4</h3>
            <div id="chartContainer9" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
            <div id="chartContainer10" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor5"  class="home-section text-center " >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h3> Node 5</h3>
            <div id="chartContainer11" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
            <div id="chartContainer12" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor6"  class="home-section text-center bg-gray" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h3> Node 6</h3>
            <div id="chartContainer13" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
            <div id="chartContainer14" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor7"  class="home-section text-center bg-gray" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h3> Node 7</h3>
            <div id="chartContainer15" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
            <div id="chartContainer16" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor8"  class="home-section text-center bg-gray" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h3> Node 8</h3>
            <div id="chartContainer17" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
            <div id="chartContainer18" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor9"  class="home-section text-center bg-gray" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h3> Node 9</h3>
            <div id="chartContainer19" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
            <div id="chartContainer20" style="height: 300px; width: 100%; border-style: groove;"></div>
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
