<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Bui Van Xung">

    <title>LoRa Smart Building</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="css/animate.css" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="css/style_home.css" rel="stylesheet">
	<link href="color/default.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	<!-- Preloader -->
	<div id="preloader">
	  <div id="load"></div>
	</div>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                  <!--  <h1>LoRa Management Device</h1> -->
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="/home">Back Home</a></li>
                  <li class="active"><a href="#intro">Dashboard</a></li>
                  <li><a href="/chart">Chart Simulation</a></li>
        		      <li><a href="/action">Node Monitoring</a></li>
        		      <li><a href="/show">Database</a></li>
                  <li><a href="/raw">Data Realtime</a></li>
                  <li><a href="/web">Feature</a></li>

              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <section id="intro" class="intro">
  		<div class="slogan">
  			<h2><span class="text_color">MANAGER GATEWAY LORA</span> </h2>
  			<h4>Information Of Technology University - Viet Nam National Ho Chi Minh City</h4>
  		</div>
    </section>

    <!-- Core JavaScript Files -->
    <script src="js/js_page/jquery.min.js"></script>
    <script src="js/js_page/bootstrap.min.js"></script>
    <script src="js/js_page/jquery.easing.min.js"></script>
	  <script src="js/js_page/jquery.scrollTo.js"></script>
	  <script src="js/js_page/wow.min.js"></script>
    <script src="js/js_page/custom.js"></script>

</body>

</html>
