<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Image</title>
  </head>
  <body>
    <div class="">
      <p>Image 1</p>
      <img src="img/lora.png" alt="">
    </div>
    <div class="">
      <p>Image 2</p>
      <img src="img/server.jpg" alt="">
    </div>
  </body>
</html>
