<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title> Data Raw</title>
    <!-- <meta http-equiv="refresh" content="30"> -->
    <script src="js/js_page/jquery.min.js" type="text/javascript"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" />
    <link href="css/style_home.css" rel="stylesheet">
    <link href="color/default.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="js/views/canvasjs.min.js"></script>
    <script type="text/javascript" src="js/js_page/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="js/js_page/jquery-1.12.4.js"></script>
    <script src="js/js_page/jquery-ui.js"></script>
    <script src="js/js_page/jquery.min.js"></script>
    <script src="js/js_page/bootstrap.min.js"></script>
    <script src="js/socket/rssi.js"></script>
    <style>
      #map {
        height: auto;
        width: auto;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      table {
          height: 50%;
          width: 100%;
        }
        th {
          height: auto;
          width: auto;
        }
    </style>
  </head>
  <body>
<section id="view1">
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
       <ul class="nav navbar-nav" style="background-color:powderblue;">
          <li><a href="/homedata">Back Dashboard</a></li>
       </u>
      </div>
      <div>
      <h5 style="background-color: powderblue"><strong>Visualize Signal</strong></h5>
    </div>
    <table>
      <p> </p>
      <tr>
        <th style="width:500px;height:400px; border-style: groove;">
        <th style="width:400px;height:90%">
        </th>
        <th style="height:400px; width:400px">
        <div id="map" style="width:100%;height:400px"></div>
        </th>
      </tr>
</table>
<div>
  <p> <p>
</div>
<table>
  <th>
    <div id="chartContainer1" style="height: 300px; width: 100%; border-style: groove;"></div>
  </th>
</table>
</section>
<section id="view2">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-5">
      <hr class="marginbot-50">
    </div>
  </div>
  <h1> <center>Chart Views</center></h1>
<table>
  <tr>
    <th><div id="chartContainer2"  style="height: 200px; width: 100%; border-style: groove;"> </div></th>
    <th><div id="chartContainer3"  style="height: 200px; width: 100%; border-style: groove;"> </div></th>
    <th><div id="chartContainer4" style="height: 200px; width: 100%; border-style: groove;"> </div></th>
  </tr>
  <tr>
    <td><div id="chartContainer5"  style="height: 200px; width: 100%; border-style: groove;"> </div></td>
    <td><div id="chartContainer6"  style="height: 200px; width: 100%; border-style: groove;"> </div></td>
    <td><div id="chartContainer7"  style="height: 200px; width: 100%; border-style: groove;"> </div></td>
  </tr>
</section>
<section>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
</table>
</section>
<div id="rssi"> </div>
<script>
  function initMap() {
    var myLatLng = {lat: 10.869767, lng: 106.802595};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 19,
      center: myLatLng
    });
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'LoRa Gateway - 10.870111654926301, 106.80377125740053  '
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7avnDDMsdPk_w0564_XU1ahECV2Wy-DQ&callback=initMap">
</script>
  </body>
</html>
